* {
  box-sizing: border-box;
}

/* ==============================
        GENERAL STYLES
============================== */
body {
  background-color: ghostwhite;
  background-image: url('./images/nightsky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #aaaaaa;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2.6rem;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  /* position: relative; */
  width: 100vw;
}

.navbar {
  /* border: 5px solid red; */
  display: flex;
  height: 12%;
  width: 100%;
}

.image {
  position: relative;
  width: 100%;
}

.main-img {
    height: 100vh;
    width: 100vw;
}

.none {
  list-style-type: none;
  text-decoration: none;
}

ul {
  display: inline;
  /* margin-left: 2%; */
}

/* ==============================
           NAVIGATION
============================== */
/* MAIN NAV  */
#nav ul {
  background-color: white;
  display: flex;
  height: 11%;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 2px;
  opacity: 0.5;
  padding: 0;
  padding-top: 1%;
  position: fixed;
  width:100%;
  z-index: 1;
}
#nav a {
  color: #0000ee;
  font-weight: bold;
}

.links > a {
  /* color: black; */
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 0;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #0000ee;
}

a:hover, a:active {
  color: aqua;
}

li {
  color: #1c306b;
  display: inline;
  font-weight: bold;
  text-decoration: none;
}

/* ==============================
           JUMBOTRON
============================== */
/* .container-jumbotron { */
  /* align-items: center; */
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center;
  margin-top: 6%;
} */

/* .image-jumbotron {
  align-self: center;
  border: 1px solid aqua;
  height: 150px;
  margin-top: 1%;
  margin-left: 2%;
  object-fit: fill;
  width: 250px; */
  /* z-index: 1; */
/* } */

.image-jumbotron {
  border: 2px inset #393f4d;
  border-radius: 6px;
  height: 150px;
  float: left;
  margin-left: 2%;
  margin-top: 0.5%;
  width: 250px;
}

.jumbotron {
  /* background-color: #f3f3f3; */
  /* background-color: aliceblue; */
  background-color: white;
  border: 2.5px inset #393f4d;
  border-radius: 6px;
  color: #393f4d;
  display: inline-block;
  height: 25vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  margin-top: 7%;
  overflow: scroll;
  padding: 1%;
  position: absolute;
  text-align: center;
  width: 55vw;
}

.jumbotron-container > div {
  display: inline-block;
  margin-left: 22%;
  text-align: center;
}

/* ==============================
          MEDIA QUERY
============================== */
/* NOT CURRENTLY WORKING: */
@media only screen and (max-width : 700px) {
  #nav {
    padding-top: 90px;
  }
  #nav ul {
    background-color: transparent;
    flex-direction: column;
  }
  #nav a {
    color: white;
    font-size: 1.2rem;
    padding: 0 1;
  }
}
