@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&effect=emboss');
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* ==============================
        GENERAL STYLES
============================== */
body {
  background-color: #585858;
  background-image: url('/images/darknightsky.jpg');
  background-repeat: no-repeat;
  color: #aaaaaa;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 3rem;
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

.container {
  display: flex;
}

.image {
  position: relative;
  width: 100%;
}

.main-img {
    background-image: url("./images/darknightsky.jpg");
    height: 100vh;
    width: 100vw;
}

.none {
  list-style-type: none;
  text-decoration: none;
}

h1 {
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-size:5rem;
  /* left: 0; */
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

/* ==============================
           NAVIGATION
============================== */
/* MAIN NAV  */
#nav ul {
  background-color: ghostwhite;
  display: flex;
  height: 11%;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 2px;
  opacity: 0.5;
  padding: 0;
  padding-top: 1.6%;
  position: fixed;
  width:100%;
  z-index: 1;
}

.links > a {
  color: black;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 0 5;
  text-decoration: none;
}

/* ul {
  align-items: stretch;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: ;
} */

li {
  color: #1c306b;
  display: inline;
  text-decoration: none;
  /* margin-left: auto;
  margin-right: auto; */
}

/* ==============================
           JUMBOTRON
============================== */
.jumbotron {
  color: #303030;
  background-color: gainsboro;
  height: 15vh;
  width: 75vw;
}


/* ==============================
          MEDIA QUERY
============================== */
/* NOT CURRENTLY WORKING: */
@media only screen and (max-width : 640px) {
  li {
    display: inline-block;
  }
}
