/* GENERAL STYLES */
body {
  background-color: #cccccc;
  background-image: url('/images/dream_fuel_sky.jpg');
  background-repeat: no-repeat;
  /* background: url(images/dream_fuel_sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  height: 100vh;
  margin: 0 auto;
  width: 100vw;
}

.main-img {
    background-image: url("/images/dream_fuel_sky.jpg");
    height: 500px;
    width: 80%;
}

/* .img-background {
    background-image: url('./images/dream_fuel_sky.jpg');
    object-fit: cover;
} */


/* NAVIGATION */
