@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&effect=emboss');
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* ==============================
        GENERAL STYLES
============================== */
* {
  box-sizing: border-box;
}

body {
  background-color: ghostwhite;
  background-image: url('/images/darknightsky.jpg');
  background-repeat: no-repeat;
  color: #aaaaaa;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2.6rem;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
}

.navbar {
  display: flex;
  width: 100%;
}

.image {
  position: relative;
  width: 100%;
}

.main-img {
    background-image: url("./images/darknightsky.jpg");
    height: 100vh;
    width: 100vw;
}

.none {
  list-style-type: none;
  text-decoration: none;
}

h1 {
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 5rem;
  /* left: 0; */
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

/* ==============================
           NAVIGATION
============================== */
/* MAIN NAV  */
#nav ul {
  background-color: ghostwhite;
  display: flex;
  height: 11%;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 2px;
  opacity: 0.5;
  padding: 0;
  padding-top: 1%;
  position: fixed;
  width:100%;
  z-index: 1;
}

.links > a {
  color: black;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .1rem;
  padding: 0 5;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #0000EE;
}

a:hover, a:active {
  color: aqua;
}

/* ul {
  align-items: stretch;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: ;
} */

li {
  color: #1c306b;
  display: inline;
  /* font-weight: bold; */
  text-decoration: none;
  /* margin-left: auto;
  margin-right: auto; */
}

/* ==============================
           JUMBOTRON
============================== */
.container-jumbotron {
  /* align-items: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}

.image-jumbotron {
  align-self: center;
  border: 1px solid aqua;
  height: 150px;
  margin-top: 1%;
  margin-left: 2%;
  object-fit: fill;
  width: 250px;
  z-index: 1;
}

.jumbotron {
  /* this guides orientation on vertical axis */
  align-self: flex-start;
  background-color: #f3f3f3;
  /* border: 1px solid grey; */
  color: #393f4d;
  display: flex;
  height: 25vh;
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  justify-content: center;
  margin-left: 10%;
  margin-top: 15%;
  overflow: scroll;
  padding: 1%;
  width: 90vw;
  z-index: 1;
}


/* ==============================
          MEDIA QUERY
============================== */
/* NOT CURRENTLY WORKING: */
@media only screen and (max-width : 640px) {
  #nav ul {
    flex-direction: column;
  }
}
